<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
      <div class="wrapper">
        <main>
          <!-- Aquí va el contenido principal -->
            <h3>Biografías de los artistas más escuchados en 2023</h3>
            <h4>Mes de Abril</h4>
            
            <b>The Weekend</b> <br>
            <br>
            <br>
            <img src="A1.jpeg" alt="A1">
            <br>
            <br>
            <p>Abel Makkonen Tesfaye, comúnmente conocido como The Weeknd (16 de febrero de 1990) cantante, 
                compositor y productor. Nació en Scarborough, Ontario, Toronto, Canadá. Sus padres, Makkonen 
                y Samra Tesfaye, una pareja de emigrantes etíopes que arribaron a Canadá en los años 80. 
                Fue criado en Scarborough, un barrio que acogía personas de otros lugares del mundo lo que procuró 
                un ambiente multicultural que afectó positivamente a Makkonen en su carrera musical. 
                Sus padres tuvieron que desempeñarse en distintos oficios, su madre fue mesera y también cuidaba 
                personas enfermas. Su padre más tarde les abandonó, lo que llevó a su abuela materna a encargarse de su 
                formación. Gracias a su abuela aprendió a hablar el amhárico, y conoció la Iglesia Ortodoxa Etíope.</p>

            <b>Bad Bunny</b>
            <br>
            <br>
            <img src="A2.jpeg" alt="A2">
            <br>
            <p>Antonio Martínez Ocasio (10 de marzo de 1994), conocido en el mundo de la música como Bad Bunny, 
                es un cantante y compositor puertorriqueño (También tiene nacionalidad estadounidense) de hip-hop 
                en español, rap, trap y otros ritmos urbanos. Nació en Vega Baja, Puerto Rico y es reconocido por ser 
                un artista creativo y versátil. Es autor de la mayoría de temas y las pistas de sus canciones.</p>

            </main>
      </div>
</body>
</html>