<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>¿Qué es la música?</h2>
<p><strong></strong></p>
<p>La música es un arte que se expresa a través de sonidos, melodías, ritmos y armonías que buscan transmitir emociones, sentimientos e ideas. Es un lenguaje universal que puede llegar a emocionar y unir a personas de distintas culturas y países.</p>
<p>A lo largo de la historia, la música ha tenido diferentes usos y propósitos, desde ser una forma de comunicación entre tribus, hasta ser un medio de entretenimiento y expresión artística. Los géneros musicales han evolucionado con el tiempo y se han adaptado a los cambios culturales y sociales de cada época.</p>
<p>La música también tiene un impacto en nuestro cerebro y nuestro cuerpo, siendo capaz de estimular emociones, mejorar el estado de ánimo, reducir el estrés y mejorar la concentración. Además, la música puede ser un medio para expresar nuestra propia identidad y personalidad, a través de los gustos musicales que tenemos.</p>
<p>En definitiva, la música es una forma de arte y de comunicación muy poderosa que nos acompaña en todas las etapas de nuestra vida, y que nos permite conectar con nosotros mismos y con el mundo que nos rodea.</p>
</body>
</html>